#container
{
width:960px;
margin: 0 auto;
}
#header
{
margin-top: 50px;
height: 100px;
}
#main
{
width: 960px;
}

#form
{
width: 220px;
display: inline-block;
border: 1px solid black;
height:200px;
margin-right: 10px;
}
#footer
{
border: 1px solid black;
width:920px;
margin-top: 20px;
}
h2,h4,form
{
text-align: center;
}
form
{
margin-top: 50px;
}
#green
{
	color:green;
}
#red
{
	color:red;
}